@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?esirr7');
  src:  url('fonts/icomoon.eot?esirr7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?esirr7') format('truetype'),
    url('fonts/icomoon.woff?esirr7') format('woff'),
    url('fonts/icomoon.svg?esirr7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crash:before {
  content: "\e905";
}
.icon-truck:before {
  content: "\e901";
}
.icon-construction:before {
  content: "\e906";
}
.icon-cone:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e904";
}
.icon-warning:before {
  content: "\e903";
}
.icon-car:before {
  content: "\e900";
}
.icon-map-point:before {
  content: "\e902";
}
